/* Styles for the Filter page */
.container {
  background-color: black;
  color: green;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.buttonContainer {
  margin-top: 20px;
  margin-bottom: 30px; /* Increase margin below the buttons */
}

.button {
  background-color: green;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 0 50px; /* Increase horizontal margin between buttons */
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: lightgreen;
}

.image {
  max-width: 50%; /* Limit image width to 50% of the container */
  height: auto; /* Maintain aspect ratio */
  margin: 40px 0; /* Increase vertical margin around the image */
}
